<!DOCTYPE html>
<html>
    <header>
        <title>404error</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css"> 
    </header>
    <body>
        <div class="main-content">
        {{>404Header}}
        <p>{{message}}</p>  
        </div>
        {{>404footer}}
    </body>
</html>